<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
  </head>
<body>
    <%= render 'layouts/navigation' %>
    <% flash.each do |name, msg| %>
        <ul>
         <li><%= msg %></li>
        </ul>
    <% end %>
    <%= yield %>
  </body>
</html>